* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

body {
  background-color: #7e8a97;
}

#login {
  background-color: #43658b;
  width: 250px;
  height: 270px;
  margin-left: 43%;
  margin-top: 18%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 6px black;
          box-shadow: 0px 0px 6px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login #info {
  width: 60%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

#login #info .text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  height: 30px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

#login #info .text .nameoverlay, #login #info .text .passoverlay {
  position: absolute;
  width: 0px;
  height: 10px;
  top: 95%;
  background-color: lightseagreen;
  z-index: 4;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#login input[type=text], #login input[type=password] {
  outline: none;
  font-size: 16px;
  text-align: center;
  border-radius: 20px;
  border: none;
  width: 100%;
  height: 100%;
}

#login input[type=button] {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

#login label {
  position: absolute;
  top: 23%;
  left: 37%;
  z-index: 3;
  font-size: 15px;
  font-weight: bold;
  color: lightseagreen;
  text-decoration: none;
  pointer-events: none;
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#login .nameFocused {
  top: 3%;
  left: 10%;
  color: white;
  text-decoration: underline;
}

#login .passLabel {
  left: 29.5%;
  top: 64%;
}

#login .passFocused {
  top: 45%;
  left: 10%;
  color: white;
  text-decoration: underline;
}

#errorMessage {
  height: 125px;
  width: 30%;
  position: absolute;
  z-index: 5;
  top: -125px;
  left: 35%;
  background-color: #900d0d;
  border-radius: 0 0 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#errorMessage p {
  font-size: 12px;
}

#addClass {
  font-size: 22px;
  background-color: #43658b;
  color: white;
  font-weight: bolder;
  width: 12%;
  line-height: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  position: absolute;
  top: 50px;
  left: 44%;
  cursor: pointer;
  outline: none;
}

#removeClass {
  font-size: 22px;
  background-color: #900d0d;
  color: white;
  font-weight: bolder;
  width: 12%;
  line-height: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  position: absolute;
  top: 100px;
  left: 44%;
  cursor: pointer;
  outline: none;
}

#updateClass {
  font-size: 22px;
  background-color: #008891;
  color: white;
  font-weight: bolder;
  width: 12%;
  line-height: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  position: absolute;
  top: 150px;
  left: 44%;
  cursor: pointer;
  outline: none;
}

#modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#modal #modalContainer {
  width: 40%;
  margin: 150px auto;
  background-color: #d6d2c4;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 18px;
  z-index: 2;
}

#modal #modalContainer h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 25px;
  margin-bottom: 40px;
}

#modal #modalContainer input[type=text] {
  width: 60%;
  margin: 0px 0px 10px 30px;
  font-size: 12px;
  line-height: 24px;
  outline: none;
  border-radius: 5px;
  text-indent: 5px;
}

#modal #modalContainer input[type=date] {
  width: 30%;
  text-align: right;
  margin: 0px 0px 10px 30px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

#modal #modalContainer label {
  margin: 10px 0px 0px 37px;
}

#modal #modalContainer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 50px;
  margin-bottom: 20px;
}

#modal #modalContainer section input[type=button] {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  line-height: 30px;
  width: 100px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

#modal #modalContainer section #add {
  background-color: #008891;
  color: white;
}

#modal #modalContainer section #cancel {
  background-color: #de4463;
  color: white;
}

#modal #modalContainer iframe {
  width: 80%;
  margin: 50px auto;
  height: 300px;
}

#classes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 250px auto;
}

#classes #class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 50px;
  width: 20%;
  margin-left: 40px;
  background-color: #e8e8e8;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  pointer-events: all;
}

#classes #class h1 {
  font-size: 24px;
  font-weight: bold;
  width: 75%;
  margin-left: 20px;
  pointer-events: none;
}

#classes #class img {
  height: 40%;
  pointer-events: none;
}
/*# sourceMappingURL=index.css.map */